<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Email</title>
  </head>
  <body>
    <body style="background-color:grey"> 
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="550" bgcolor="white">
        <tbody> 
          <tr style="height: 350px;"> 
            <td align="center" style="border: none; border-bottom: .8px solid black; padding-right: 20px;padding-left:20px">
              <p style="font-weight: bolder; font-size: 34px; letter-spacing: 0.025em; color: black;">
                ModShare
              </p>
              <p style="font-size: 18px; font-weight: bold;">
                Hi {{name}}, <br>
                To set up a new password for your ModShare account, click "Reset Password" below, or use this link:
              </p>
              <p>{{link}}</p>
            </td>
          </tr>
          <tr style="display: inline-block;"> 
            <td style="height: 230px; padding: 20px; border: none; border-bottom: 1px solid black; background-color: white;" align="center"> 
              <h2 style="text-align: left; align-items: center;"> 
                Reset Your ModShare Password
              </h2> 
              <p class="data" style="text-align: justify-all; align-items: center; font-size: 15px; padding-bottom: 12px;" align="flex-start">
                The link will expire in 15minutes. If nothing happens after clicking, copy, and paste the link in your browser.
              </p> 
              <p>
                <a href="{{link}}" style="text-decoration: none; color: white; background-color: blue; padding: 10px 30px; margin: 30px; font-weight: bold;">  
                  Reset Password
                </a>
              </p> 
            </td>
          </tr> 
        </tbody> 
      </table> 
    </body> 
  </body>
</html>