.auth__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background-color: ghostwhite;
}

.auth__login__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth__login__title {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: none;
  color: blue;
  margin: 25px 0 0;
}

.auth__login__desc {
  font-size: 18px;
  font-weight: bold;
  color: gray;
  margin: 30px 0;
}

.auth__login__body {
  background-color: white;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth__login__form {
  width: 100%;
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth__login__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.auth__login__input > label {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 20px 10px;
}

.auth__login__input > input {
  width: 77%;
  margin: 0px 20px;
  padding: 15px 20px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: #d7dffa;
}

.auth__login__input > input:focus {
  outline: none;
}

.auth__login__forgotPass {
  align-self: flex-end;
  font-size: 15px;
  font-weight: bold;
  color: blue;
  margin: 25px 10%;
}

.auth__login__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 30px;
}

.auth__login__btn > button {
  width: 88%;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: blue;
  border: none;
  outline: none;
  border-radius: 100px;
  margin: 0 20px;
  padding: 15px 20px;
}

.auth__login__tp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__login__link {
  margin: 0 7px;
  font-weight: bolder;
  color: blue;
}

.disabled {
  opacity: 0.35;
  cursor: not-allowed;
}

@media (min-width: 600px) {
  .auth__login {
    justify-content: center;
  }
  .auth__login__body {
    width: 450px;
    height: 500px;
  }
}